h5{
    color: #BDBA99;
    background-color: black;
}

div{
    border: solid black 1px;
}
a{
    border: solid black 1px; 
    padding: 4%;
    margin: 6%;
}

ul {
  display: flex;
  justify-content: space-between;
  width: 40%;
  height: 25vh;
  border: solid black 1px;
}
